{% load static %}
<div class="mx-4 d-flex flex-nowrap align-items-center">
    <img class= avatar-question " src="{% static "img/duck.png" %}" alt="">

    <div class="mx-3">
        <div class="">
            <p class="text-muted d-inline">User.name</p>
        </div>
        <div class="d-flex">
            <div class="">
                <a class=" text-primary"  href=""><u>settings</u></a>
            </div>
            <div class="mx-3">
                <a class="text-primary" href="#"><u>log out</u></a>
            </div>
        </div>
    </div>
</div>