{% extends "reused/base.html" %}
{% load static %}
{% block authorisation %}
  {% include "reused/no_authoritheted.html" %}
{% endblock authorisation %}
{% block content %}
  {% for question in posts %}
    {% include "reused/question.html" %}
    {% include "reused/paginator.html" with page=posts %} 
  {% endfor %}
{% endblock content %}

{% block right_content %}
  <h2 class="mt-5">Popular Tags</h2>
  <div class="row nowrap">
    {% for tag in tags %}
      {% include "reused/tag.html" %}
    {% endfor %}
  </div>

  <h2 class="mt-5">Best members</h2>
  <div class="row nowrap">
    {% for best_member in best_members %}
      {% include "reused/best_member.html" %}
    {% endfor %}
  </div>
{% endblock right_content %}

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    // AJAX CALL
    $('.likin').click(function(){
        $.ajax({
                type: "POST",
                url: "{% url 'like_button'{{question.id}} %}",
                data: {'content_id': $(this).attr('name'),'operation':'like_submit','csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: "json",
                success: function(response) {
                  selector = document.getElementsByName(response.content_id);
                        if(response.liked==true){
                          $(selector).css("color","blue");
                        }
                        else if(response.liked==false){
                          $(selector).css("color","black");
                        }


                  }

            });

      })
    </script>
  {% endblock javascript %}
